// @mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false )
// 	@font-face
// 		font-family: $font-family
// 		font-weight: $weight
// 		font-style: $style

// 		@if $asset-pipeline == true
// 			src: font-url('#{$file-path}.eot?v=2020.07.20')
// 			src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff?v=2020.07.20') format('woff'), font-url('#{$file-path}.ttf?v=2020.07.20') format('truetype')
// 		@else
// 			src: url('#{$file-path}.eot?v=2020.07.20')
// 			src: url('#{$file-path}.eot?#iefix&v=2020.07.20') format('embedded-opentype'), url('#{$file-path}.woff?v=2020.07.20') format('woff'), url('#{$file-path}.ttf?v=2020.07.20') format('truetype')
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
}